@{
    ViewBag.Title = "Fixtures";
}

<div class="row">
    <div class="col-lg-8 h2">@ViewBag.Title</div>
    <div class="col-lg-2">
        @Ajax.ActionLink("Update Results", "UpadateResults", null, new AjaxOptions()
           {
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "matches-list",
                LoadingElementId = "loading",
                LoadingElementDuration = 1000             
            },
            new { @class = "btn btn-primary text-right" })
    </div>
    <div class="col-lg-2">
        @Ajax.ActionLink("Update Fixtures", "UpadateFixtures", null, new AjaxOptions()
           {
               HttpMethod = "GET",
               InsertionMode = InsertionMode.Replace,
               UpdateTargetId = "matches-list",
               LoadingElementId = "loading",
               LoadingElementDuration = 1000
           },
            new { @class = "btn btn-primary text-right" })
    </div>
</div>
<div id="loading">Updating...</div>
<div id="matches-list">
   @Html.Partial("_MatchesGrid")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}