@{
    ViewBag.Title = "Footbal Fantasy League Stats";
}
<div class="row">
    <div class="col-lg-2">
        <h3>Position Stats</h3>
        <ul class="list-unstyled">
            <li>@Html.ActionLink("Goalkeepers", "Goalkeeprs", "Statistics")</li>
            <li>@Html.ActionLink("Defenders", "Defenders", "Statistics")</li>
            <li>@Html.ActionLink("Midfielders", "Midfielders", "Statistics")</li>
            <li>@Html.ActionLink("Forwards", "Forwards", "Statistics")</li>
            <li>@Html.ActionLink("All Positions", "AllPositions", "Statistics")</li>
        </ul>
    </div>
    <div id="fixtures" class="col-lg-4">
        @Html.Partial("_Fixtures")        
    </div>
    <div class="col-lg-6">
        @Html.Partial("_Standings")
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}