@using FantasyStats.Model
@using FantasyStatsApp.Models.GameModels
@model GameResultsViewModel
@{
    ViewBag.Title = "Gameweek Results";
}
<div class="col-md-offset-1">
    @Html.Partial("_GameMenu")
</div>
@if (Model.FirstUserPlayers == null || Model.SecondUserPlayers == null)
{
    <h2 class="text-danger">The Game is not started yet</h2>
    return;
}
<div class="col-lg-6">
    <h3 class="text-center text-warning">Total Points - @ViewBag.FirstPlayerPoints</h3>
    <div id="budget" class="col-lg-offset-7 text-danger">
        <strong>Gameweek Points: @ViewBag.FirstPlayerGWPoints</strong>
    </div>
    @Html.Partial("_TeamResults", Model.FirstUserPlayers)
</div>
<div class="col-lg-6">
    <h3 class="text-center text-warning">Total Points - @ViewBag.SecondPlayerPoints</h3>
    <div id="budget" class="col-lg-offset-7 text-danger">
        <strong>Gameweek Points: @ViewBag.SecondPlayerGWPoints</strong>
    </div>
    @Html.Partial("_TeamResults", Model.SecondUserPlayers)
</div>
