@using FantasyStats.Model
@using FantasyStatsApp.Models.GameModels
@model SortedDictionary<int, List<PlayerGameViewModel>>
@{
    ViewBag.Title = "My Team";
}
@Html.Partial("_GameMenu")
<h3 class="text-primary">@ViewBag.Title</h3>
<div id="pick-team" class="col-lg-6">
    @Html.Partial("_PickTeamPitch", Model)
</div>
<div id="fixtures" class="col-lg-5">
    <table id="current-fixtures" class="table table-striped">
        @Html.Partial("_Fixtures", ViewData["Fixtures"])
    </table>
</div>


<div class="clearfix"></div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    function error(e) {
        $("#error-message").html(e.statusText);
    }

    function success() {
        $("#error-message").html("Team is confirmed");
    }
</script>
