@model IEnumerable<FantasyStatsApp.Models.GameModels.GameBasicViewModel>
@using FantasyStats.Model;
@using FantasyStatsApp.Models.GameModels;

@{
    ViewBag.Title = "Games";
}

<h2>IN PROGRESS</h2>
@{
    List<GameBasicViewModel> startedGames = new List<GameBasicViewModel>();
    List<GameBasicViewModel> fullGames = new List<GameBasicViewModel>();
    List<GameBasicViewModel> createdGames = new List<GameBasicViewModel>();
    foreach (var game in Model)
    {
        if (game.GameState == GameState.InProgress)
        {
            startedGames.Add(game);
        }
        else if (game.GameState == GameState.Full)
        {
            fullGames.Add(game);
        }
        else
        {
            createdGames.Add(game);
        }
    }
}
<div class="row">
    <div class="col-lg-3">
        <h3>Games In Progress</h3>
        @Html.Partial("_GamesList", startedGames)
    </div>
    <div class="col-lg-3">
        <h3>Full Games</h3>
        @Html.Partial("_GamesList", fullGames)
    </div>
    <div class="col-lg-3">
        <h3>Created Games</h3>
        @Html.Partial("_GamesList", createdGames)
    </div>
    <div class="col-lg-3">
        @Ajax.ActionLink("Create Game", "Create", new AjaxOptions()
   {
       HttpMethod = "GET",
       InsertionMode = InsertionMode.Replace,
       UpdateTargetId = "create-game"
   })
        <div id="create-game">
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
