@model IEnumerable<FantasyStatsApp.Models.MatchViewModel>

@{
    string currentGameweek = Model.First().Gameweek.ToUpper();
    string[] gameweekSplit = currentGameweek.Split(' ');
    int gameweekId = int.Parse(gameweekSplit[1]);
    var matchDay = Model.First().MatchDate.Day;
}

<colgroup>
    <col width="150">
    <col width="70">
    <col width="150">
</colgroup>
<tr>
    <th colspan="3" class="text-center text-primary">
        @currentGameweek
    </th>
</tr>
<tr>
    <th colspan="3" style="text-align:left">
        @Model.First().MatchDate.ToString("d MMM yyyy")
    </th>
</tr>
@foreach (var match in Model)
{
    if (matchDay < match.MatchDate.Day)
    {
        matchDay = match.MatchDate.Day;
        <tr>
            <th colspan="3" style="text-align:left">
                @match.MatchDate.ToString("d MMM yyyy")
            </th>
        </tr>
    }
    <tr>
        <td>@match.Host</td>
        <td>@(match.HostScore == null ? match.MatchDate.ToString("HH:mm") : match.HostScore + " - " + match.VisitorScore)</td>
        <td>@match.Visitor</td>
    </tr>
}
<tr>
    <td id="prev-fixtures">
        @if (@gameweekId > 1)
        {
            @Ajax.ActionLink("<< Gameweek " + (@gameweekId - 1), "ChangeGameweek", "Home", new { gameweek = @gameweekId - 1 },
                    new AjaxOptions()
                    {
                        HttpMethod = "GET",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "current-fixtures",
                    },
                    new { @class = "text-left" })
        }
    </td>
    <td></td>
    <td id="next-fixtures">
        @if (@gameweekId < 38)
        {
            @Ajax.ActionLink("Gameweek " + (@gameweekId + 1) + " >>", "ChangeGameweek", "Home", new { gameweek = @gameweekId + 1 },
                    new AjaxOptions()
                    {
                        HttpMethod = "GET",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "current-fixtures",
                    },
                    new { @class = "text-right" })
        }
    </td>
</tr>
