@model IEnumerable<FantasyStatsApp.Models.MatchViewModel>

@{
    string currentGameweek = Model.First().Gameweek;
    string[] gameweekSplit = currentGameweek.Split(' ');
    int gameweekId = int.Parse(gameweekSplit[1]);
}

<h3 class="text-center">@currentGameweek</h3>
<table id="current-fixtures">
    <colgroup>
        <col width="150">
        <col width="70">
        <col width="150">
    </colgroup>
    @foreach (var match in Model)
    {
        <tr>
            <td>@match.Host</td>
            <td>@(match.HostScore == null ? "v" : match.HostScore + " - " + match.VisitorScore)</td>
            <td>@match.Visitor</td>
        </tr>
    }
    <tr>
        <td id="prev-fixtures">
            @if (@gameweekId > 1)
            {
                @Ajax.ActionLink("<< Gameweek " + (@gameweekId - 1), "ChangeGameweek", new { gameweek = @gameweekId - 1 },
                    new AjaxOptions()
                    {
                        HttpMethod = "GET",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "fixtures",
                    },
                    new { @class = "text-left" })
            }
        </td>
        <td></td>
        <td id="next-fixtures">
            @if (@gameweekId < 38)
            {
                @Ajax.ActionLink("Gameweek " + (@gameweekId + 1) + " >>", "ChangeGameweek", new { gameweek = @gameweekId + 1 },
                    new AjaxOptions()
                    {
                        HttpMethod = "GET",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "fixtures",
                    },
                    new { @class = "text-right" })
            }
        </td>
    </tr>
</table>