@using FantasyStats.Model
@using FantasyStatsApp.Models.GameModels
@model SortedDictionary<int, List<PlayerGameViewModel>>

<div id="pitch">
    @foreach (var position in Model)
    {
        if ((int)position.Key == 5)
        {
            @Html.Raw("</div><h4 class='text-primary'>Subsitutions</h4><div id=subs>")
            foreach (var player in position.Value)
            {
                <div class="text-center cell">
                    @Html.Partial("_PickTeamPlayer", player)
                    @Ajax.ActionLink("In", "InPlayer", new { playerId = player.Id }, new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "pick-team"
                        }, new { @class = "text-danger" })
                </div>
            }
            @Html.Raw("</div>")
        }
        else
        {
            int playersCount = position.Value.Count;
            if (playersCount == 0)
            {
                <div class="col-md-offset-5 cell">
                    @Html.Partial("_PickTeamPlayer", new PlayerGameViewModel())
                </div>
            }
            int offset = 6 - playersCount;
            string classOffset = "row col-lg-offset-" + offset;
            @Html.Raw("<div class='" + classOffset + "'>")
            foreach (var player in position.Value)
            {
                <div class="text-center cell">
                    @Html.Partial("_PickTeamPlayer", player)
                    @Ajax.ActionLink("Out", "OutPlayer", new { playerId = player.Id }, new AjaxOptions()
                       {
                           HttpMethod = "POST",
                           InsertionMode = InsertionMode.Replace,
                           UpdateTargetId = "pick-team"
                       }, new { @class = "text-danger" })
                </div>
            }

            @Html.Raw("</div>")
        }
    }
    @{
        List<PlayerGameViewModel> players = Model.Values.SelectMany(x => x).ToList();
    }
    <div class="clearfix"></div>
    <div id="confirm-form">
        @Html.Partial("_ConfirmStartingTeam", players)
    </div>
