@model List<FantasyStatsApp.Models.PlayerValuableModel>

<div id="pitch">
    <div class="row col-lg-offset-4">
        @for (int i = 0; i < @Model.Count; i++)
        {
            if (i == 2)
            {
                @Html.Raw("</div><div class='row col-lg-offset-1'>")
            }

            if (i == 7)
            {
                @Html.Raw("</div><div class='row col-lg-offset-1'>")
            }

            if (i == 12)
            {
                @Html.Raw("</div><div class='row col-lg-offset-3'>")
            }
            
            @Html.Partial("_ValuablePlayer", Model[i])
        }
    </div>
</div>

