@model List<FantasyStatsApp.Models.PlayerValuableModel>

<table id="pitch">
    <tr>
        <td></td>
        <td>
            <span class="name">@Model[0].Name</span>
            <span class="team">@Model[0].Team</span>
            <span class="price">&pound;@Model[0].Weight</span>
        </td>
        <td></td>
        <td>
            <span class="name">@Model[1].Name</span>
            <span class="team">@Model[1].Team</span>
            <span class="price">&pound;@Model[1].Weight</span>
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            <span class="name">@Model[2].Name</span>
            <span class="team">@Model[2].Team</span>
            <span class="price">&pound;@Model[2].Weight</span>
        </td>
        <td>
            <span class="name">@Model[3].Name</span>
            <span class="team">@Model[3].Team</span>
            <span class="price">&pound;@Model[3].Weight</span>
        </td>
        <td>
            <span class="name">@Model[4].Name</span>
            <span class="team">@Model[4].Team</span>
            <span class="price">&pound;@Model[4].Weight</span>
        </td>
        <td>
            <span class="name">@Model[5].Name</span>
            <span class="team">@Model[5].Team</span>
            <span class="price">&pound;@Model[5].Weight</span>
        </td>
        <td>
            <span class="name">@Model[6].Name</span>
            <span class="team">@Model[6].Team</span>
            <span class="price">&pound;@Model[6].Weight</span>
        </td>
    </tr>
    <tr>
        <td>
            <span class="name">@Model[7].Name</span>
            <span class="team">@Model[7].Team</span>
            <span class="price">&pound;@Model[7].Weight</span>
        </td>
        <td>
            <span class="name">@Model[8].Name</span>
            <span class="team">@Model[8].Team</span>
            <span class="price">&pound;@Model[8].Weight</span>
        </td>
        <td>
            <span class="name">@Model[9].Name</span>
            <span class="team">@Model[9].Team</span>
            <span class="price">&pound;@Model[9].Weight</span>
        </td>
        <td>
            <span class="name">@Model[10].Name</span>
            <span class="team">@Model[10].Team</span>
            <span class="price">&pound;@Model[10].Weight</span>
        </td>
        <td>
            <span class="name">@Model[11].Name</span>
            <span class="team">@Model[11].Team</span>
            <span class="price">&pound;@Model[11].Weight</span>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <span class="name">@Model[12].Name</span>
            <span class="team">@Model[12].Team</span>
            <span class="price">&pound;@Model[12].Weight</span>
        </td>
        <td>
            <span class="name">@Model[13].Name</span>
            <span class="team">@Model[13].Team</span>
            <span class="price">&pound;@Model[13].Weight</span>
        </td>
        <td>
            <span class="name">@Model[14].Name</span>
            <span class="team">@Model[14].Team</span>
            <span class="price">&pound;@Model[14].Weight</span>
        </td>
        <td></td>
    </tr>

</table>

